.custom-h1{
    font-size: 40px;
    font-weight: 700;
}

.custom-label{
    font-size: 20px;
    font-weight: 600;
    margin-left: 0;
}

.centralised-section{
    width: 400px;
    margin: 10px auto;
}

.custom-textbox-input{
    background-color: #ededed;
    padding-left: 20px;
    padding-right: 20px;
}

.grey-color{
    color:#9b9b9b;
}

.custom-primary-btn{
    background-color: #000000;
    color: #dfdfdf;
    width: 100%;
}

.custom-primary-btn:hover{
    color:white;
}

.off-white-color{
    color:#dfdfdf;

}

.custom-link-grey{
    text-decoration: none;
    color:#9b9b9b;
}

.custom-link-grey:hover{
    color:#9b9b9b;
}

.custom-link-black{
    text-decoration: none;
    color:black;
}

.custom-link-black:hover{
    color:black;
}

.custom-black-color{
    color:black;
}

@media screen and (max-width: 400px) and (min-width: 0px) {
    .centralised-section{
        width: 80%;
    }
}

